*.pyc
.snakemake/
backup_*/
coexpression_correlations/
coexpression_error/
coexpression_matrices/
coexpression_networks/
control_expression/
edge_correlations/
expression_correlations/
filtered_input/
gpu_manager/
indegree_correlations/
# input can be a directory or a symlink
input
input/
lioness_networks/
plots/
sparse_expression/